<% provide(:title, 'About') %>
	
    <h1>About Me</h1>
    <div class="row-fluid">
	    <div class="col-md-6 col-md-offset-3">
	    	<p>I am a junior at the <a href="http://www.rochester.edu">University of Rochester</a> majoring in Computer Science. Please click on the following tabs to learn more about me.</p>
	    	<!-- http://getbootstrap.com/javascript/#collapse-example-accordion -->

	    	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	    	  <div class="panel panel-default">
	    	    <div class="panel-heading" role="tab" id="headingOne">
	    	      <h4 class="panel-title">
	    	        <a data-toggle="collapse" data-parent="#accordion" href="#current" aria-expanded="false" aria-controls="current">
	    	          Current
	    	        </a>
	    	      </h4>
	    	    </div>

	    	    <div id="current" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
	    	      <div class="panel-body">
                      <p>I am currently doing research with Professor <a href="http://www.cs.rochester.edu/~kautz/">Henry Kautz</a>, where we <a href="http://www.cs.rochester.edu/~kautz/socialhealth/index.html">mine Twitter data to track the spread of diseases</a>. I am also a TA and Workshop Leader for two undergraduate Computer Science courses, and am the <a href="http://csug.rochester.edu/ugc/tutoring">Tutoring Chair</a> for the University's <a href="http://csug.rochester.edu/ugc">Computer Science Undergraduate Council</a>.</p>
	    	      </div>
	    	    </div>
	    	  </div>

	    	  <div class="panel panel-default">
	    	    <div class="panel-heading" role="tab" id="headingTwo">
	    	      <h4 class="panel-title">
	    	        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#past" aria-expanded="false" aria-controls="past">
	    	          Past
	    	        </a>
	    	      </h4>
	    	    </div>

	    	    <div id="past" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
	    	      <div class="panel-body">
                      <p>In Summer 2015, I helped design and develop <a href="http://peerpresents.herokuapp.com">PeerPresents</a>, a website where students can give and receive real-time feedback during classroom presentations. The work is headed by <a href="http://cs.cmu.edu/~spdow">Professor Steven Dow</a>, <a href="http://replayable.net">Professor Jessica Hammer</a>, and <a href="https://www.hcii.cmu.edu/people/amy-shannon">PhD student Amy Shannon</a> at Carnegie Mellon's <a href="https://www.hcii.cmu.edu">Human-Computer Interaction Institute</a>. My summer work was part of a Research Experience for Undergraduates (REU) program supported by the <a href="http://www.nsf.gov">National Science Foundation</a>.</p>
                      
                      <p>In Summer 2014, I developed a prototype of a full-body movement analysis system for <a href="http://www.fitruvia.com">Fitruvia</a>, which helps athletes improve their game by giving them real-time feedback on their body mechanics. Separately, I created extensive documentation and testing systems for <a href="https://github.com/piantado/LOTlib">LOTlib</a>, an open-source Python library for simulating how people learn language, made by Professor <a href="http://colala.bcs.rochester.edu/people/piantadosi/">Steve Piantadosi</a>.</p>
                      
                      <p>In Summer 2013, I developed <a href="http://unsolveddatabase.org">The Unsolved Problems Database</a>, a website where people can learn about, discuss, post, and solve unsolved problems.</p>
                      
                      <p>Before college, I wrote computer programs to compose music (violin duets, string quartets and <a href="/projects/hacc">fiddle tunes</a>) in Mathematica, and submitted a paper on graph theory to the 2011 Intel Science Talent Search.</p>
	    	      </div>
	    	    </div>
	    	  </div>

	    	  <div class="panel panel-default">
	    	    <div class="panel-heading" role="tab" id="headingThree">
	    	      <h4 class="panel-title">
	    	        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#coursera" aria-expanded="false" aria-controls="coursera">
	    	          Coursera
	    	        </a>
	    	      </h4>
	    	    </div>

	    	    <div id="coursera" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
	    	      <div class="panel-body">
                      <p>I have also completed numerous Massive Open Online Courses on <a href="http://www.coursera.org">Coursera</a>, including ones on Machine Learning, Data Science, Natural Language Processing, Computer Networks, and Algorithms. This has helped me to develop a broad understanding of an array of topics in Computer Science.</p>
	    	      </div>
	    	    </div>
	    	  </div>
	    	</div>
	    </div>
	</div>
