<% provide(:title, 'About') %>
	
    <h1>About Me</h1>
    <div class="row-fluid">
	    <div class="col-md-6 col-md-offset-3">
	    	<p>I am a student at the <a href="http://www.rochester.edu">University of Rochester</a> majoring in Computer Science. Flip the tabs to learn more about me.</p>
	    	<!-- http://getbootstrap.com/javascript/#collapse-example-accordion -->
	    	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	    	  <div class="panel panel-default">
	    	    <div class="panel-heading" role="tab" id="headingOne">
	    	      <h4 class="panel-title">
	    	        <a data-toggle="collapse" data-parent="#accordion" href="#current" aria-expanded="false" aria-controls="current">
	    	          Current
	    	        </a>
	    	      </h4>
	    	    </div>
	    	    <div id="current" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
	    	      <div class="panel-body">
	    	        I am currently doing research with Professor <a href="http://www.cs.rochester.edu/~kautz/">Henry Kautz</a> where we <a href="http://www.cs.rochester.edu/~kautz/socialhealth/index.html">mine Twitter data to track the spread of diseases</a>, am a TA and Workshop Leader for two undergraduate Computer Science courses, and am the <a href="http://csug.rochester.edu/ugc/tutoring">Tutoring Chair</a> for the University's <a href="http://csug.rochester.edu/ugc">Computer Science Undergraduate Council</a>.
	    	      </div>
	    	    </div>
	    	  </div>
	    	  <div class="panel panel-default">
	    	    <div class="panel-heading" role="tab" id="headingTwo">
	    	      <h4 class="panel-title">
	    	        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#past" aria-expanded="false" aria-controls="past">
	    	          Past
	    	        </a>
	    	      </h4>
	    	    </div>
	    	    <div id="past" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
	    	      <div class="panel-body">
	    	        In the past, I developed a prototype of a full-body movement analysis system for <a href="http://www.fitruvia.com">Fitruvia</a>, created documentation and testing systems for <a href="https://github.com/piantado/LOTlib">LOTlib</a>, developed a <a href="http://unsolveddatabase.org">website</a> where people can learn about unsolved problems, written computer programs to compose music (violin duets, string quartets and <a href="/projects/hacc">fiddle tunes</a>), and submitted a paper on graph theory to the 2011 Intel Science Talent Search.
	    	      </div>
	    	    </div>
	    	  </div>
	    	  <div class="panel panel-default">
	    	    <div class="panel-heading" role="tab" id="headingThree">
	    	      <h4 class="panel-title">
	    	        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#coursera" aria-expanded="false" aria-controls="coursera">
	    	          Coursera
	    	        </a>
	    	      </h4>
	    	    </div>
	    	    <div id="coursera" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
	    	      <div class="panel-body">
	    	        I have also taken numerous Massive Open Online Courses on <a href="http://www.coursera.org">Coursera</a>, including ones on Machine Learning, Data Science, Natural Language Processing, Computer Networks and Algorithms, which has helped me to develop a broad understanding of many topics pertaining to Computer Science.
	    	      </div>
	    	    </div>
	    	  </div>
	    	</div>
	    </div>
	</div>