<% provide(:title, 'Acknowledgements') %>

    <h1>Acknowledgements</h1>
    <div class="row-fluid">
    	<div class="col-md-6 col-md-offset-3">
    		<section id="credits">
				  <h3>Credits</h3>
				  <hr>
				  <p>
					  <ul>
					  	<li><a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book">Ruby on Rails Tutorial</a> by Michael Hartl</li>
					  	<li>Image credit: <a href="http://www.rochesterphotographers.com/">Rochester Photography</a></li>
					  </ul>
				  </p>
			  </section>
			  <section id="stack">
				  <h3>Technology Stack</h3>
				  <hr>
				  <p>
					  <ul>
					  	<li>Heroku (web hosting)</li>
					  	<li>GitHub (project hosting)</li>
					  	<li>DNSimple (domain name management)</li>
					  	<li>Ruby on Rails (web development framework)</li>
					  	<li>Bootstrap (CSS and styling)</li>
					  </ul>
				  </p>
			  </section>
    	</div>
    </div>