<% provide(:title, 'Acknowledgements') %>

    <h1>Acknowledgements</h1>
    <div class="row-fluid">
    	<div class="col-md-6 col-md-offset-3">
    		<section id="credits">
				  <h3>Credits</h3>
				  <hr>
				  <p>
					  <ul>
					  	<li><a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book">Ruby on Rails Tutorial</a> by Michael Hartl</li>
					  	<li>Homepage image credit: <a href="http://www.rochesterphotographers.com/">Rochester Photography</a></li>
					  	<li>Project image credits:
					  		<ul>
						  		<li>Unsolved Problems Database: <a href="http://pixabay.com/en/puzzle-complete-part-share-fit-63626/">Pixabay</a></li>
						  		<li>Connect Four: <a href="http://commons.wikimedia.org/wiki/File:Puissance4_01.svg">Wikimedia Commons, By User François Haffner on fr.wikipedia [Public domain]</a></li>
						  		<li>Human-Aided Computer Composition: Sally Thurston (Creative Ability Development Tour Group performing one of the computer's compositions in Providence, RI, April 2011)</li>
						  		<li>Automata Game: Own work (created in Wolfram Mathematica 9)</li>
						  	</ul>
					  	</li>
					  	<li>Project add-ons:
					  		<ul>
					  			<li>Human-Aided Computer Composition: <a href="http://mudcu.be/midi-js/">MIDI.js</a></li>
					  		</ul>
					  	</li>
					  </ul>
				  </p>
			  </section>
			  <section id="stack">
				  <h3>Technology Stack</h3>
				  <hr>
				  <p>
					  <ul>
					  	<li>Heroku (web hosting)</li>
					  	<li>GitHub (project hosting)</li>
					  	<li>DNSimple (domain name management)</li>
					  	<li>Ruby on Rails (web development framework)</li>
					  	<li>Bootstrap (CSS and styling)</li>
					  </ul>
				  </p>
			  </section>
    	</div>
    </div>