<% provide(:title, 'Contact') %>

    <h1>Contact</h1>
    <div class="row-fluid">
	    <div class="col-md-3 col-md-offset-4">
	    	<p>
	    		J. Hassler Thurston<br>
	    		34 Wild Berry Lane<br>
	    		Pittsford, NY 14534<br><br>
	    		Email: <a href="mailto:jthurst3@u.rochester.edu">jthurst3@u.rochester.edu</a><br>
	    		LinkedIn: <a href="http://www.linkedin.com/pub/hassler-thurston/76/12a/209">Hassler Thurston</a><br>
	    		<i class="fa fa-fw fa-github"></i> <a href="https://github.com/jthurst3">@jthurst3</a><br>
	    		Twitter: <a href="https://twitter.com/HasslerThurston">@HasslerThurston</a><br>
		    </p>
	    </div>
	</div>