<% provide(:title, 'Contact') %>

    <h1>Contact</h1>
    <p class="text-align: center">
      <a href="mailto: jthurst3@u.rochester.edu">Email</a><br>
      <a href="http://www.linkedin.com/pub/hassler-thurston/76/12a/209">LinkedIn</a><br>
    </p>