    <h1>J. Hassler Thurston</h1>
    <p style="text-align: center">
      University of Rochester Class of 2017<br>
      Computer Science
    </p>
    <div class="row-fluid">
    	<div class="span4 offset4">
    		<p style="text-align:center"><%= link_to "Projects",   projects_path %></p><br>
    		<p style="text-align:center"><a href="https://github.com/jthurst3">GitHub</a></p><br>
    	</div>
    </div>
