    <h1>J. Hassler Thurston</h1>
	<!-- <div class="row-fluid">
    	<div class="col-md-4 col-md-offset-4"> -->
    		<center><%= image_tag "web_photo.jpg" , height:"430", width:"400" %></center>
		    <p style="text-align: center">
		      University of Rochester Class of 2017<br>
		      Computer Science
		    </p>
    		<p style="text-align:center"><%= link_to "Projects",   projects_path %></p><br>
    	<!-- </div>
    </div> -->
