[submodule "app/assets/javascripts/automata"]
	path = app/assets/javascripts/automata
	url = https://github.com/jthurst3/automata.git
[submodule "app/assets/javascripts/computermusic"]
	path = app/assets/javascripts/computermusic
	url = https://github.com/jthurst3/computermusic.git
[submodule "app/assets/javascripts/cribbage"]
	path = app/assets/javascripts/cribbage
	url = https://github.com/jthurst3/cribbage.git
[submodule "app/assets/javascripts/punditry"]
	path = app/assets/javascripts/punditry
	url = https://github.com/jthurst3/Auto_Pundit.git
[submodule "app/assets/javascripts/elections"]
	path = app/assets/javascripts/elections
	url = https://github.com/jthurst3/elections.git
