<% provide(:title, 'Automata Game') %>

	<h1>Automata Game</h1>
	<div class="row-fluid">
    	<div class="col-md-4 col-md-offset-4">
    		Interactive application coming soon.<br>
    		In the mean time, check out the project's <a href="http://github.com/jthurst3/automata_game">GitHub</a> site.
    	</div>
    </div>