<% provide(:title, 'Connect Four') %>
<% content_for :head do %>
	<%= stylesheet_link_tag "connectfour", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "game", "data-turbolinks-track" => true %>
<% end %>

	<h1>Connect Four</h1>
	<h2>
        <iframe width="420" height="315" src="//www.youtube.com/embed/RrTD9L3gqYc?rel=0" frameborder="0" allowfullscreen>
        </iframe>
    </h2>
	<div class="row-fluid">
    	<div class="col-md-4 col-md-offset-4">
    		<section id="game_start" class="form-horizontal">
    		  <div class="form-group">
    		    <label class="col-sm-2 control-label" for="newgame_columns">Columns</label>
    		    <div class="col-sm-10">
    		      <input type="number" class="form-control" id="newgame_columns" placeholder="7">
    		    </div>
    		  </div>
    		  <div class="form-group">
    		    <label class="col-sm-2 control-label" for="newgame_rows">Rows</label>
    		    <div class="col-sm-10">
    		      <input type="number" class="form-control" id="newgame_rows" placeholder="6">
    		    </div>
    		  </div>
    		  <div class="form-group">
    		    <label class="col-sm-2 control-label">Turn</label>
    		    <div class="col-sm-10">
    		      <div class="row">
    		        <div class="col-sm-6">
    		          <label class="radio-inline">
    		            <input type="radio" name="newgame_turn" value="0">First
    		          </label>
    		        </div>
    		        <div class="col-sm-6">
    		          <label class="radio-inline">
    		            <input type="radio" name="newgame_turn" value="1">Second
    		          </label>
    		        </div>
    		      </div>
    		    </div>
    		  </div>
    		</section>
			<input type="hidden" id="newgame_moves" value="[]">
    		<section id="game">
    		</section>
		    <div class="form-group" id="newgame_div">
		      <div class="col-md-6 col-md-offset-3">
		        <button id="newgame_button" class="btn btn-primary btn-block">New game</button>
		      </div>
		    </div>
		    <!-- what a hack -->
		    <br>
		    <div class="form-group" id="restartgame_div" style="display: none">
		      <div class="col-md-6 col-md-offset-3">
		        <button id="restart_button" class="btn btn-primary btn-block">Start new game</button>
		      </div>
		    </div>
    	</div>
    	<div class="col-md-6 col-md-offset-3">
    		<hr>
    		<p style="text-align: center">To access the source code, check out the project's <a href="http://github.com/jthurst3/connectfour">GitHub</a> site.</p>
    	</div>
    </div>
    <%= javascript_include_tag "connectfour", "data-turbolinks-track" => true %>


