<% provide(:title, 'Connect Four') %>

	<h1>Connect Four</h1>
	<div class="row-fluid">
    	<div class="col-md-8 col-md-offset-2">
    		
    		Interactive application coming soon.<br>
    		In the mean time, check out the project's <a href="http://github.com/jthurst3/connectfour">GitHub</a> site.
    	</div>
    </div>