<% provide(:title, 'Human-Aided Computer Composition') %>
<% content_for :head do %>
	<%= stylesheet_link_tag "hacc", "data-turbolinks-track" => true %>
<% end %>

	<h1>Human-Aided Computer Composition</h1>
	<div class="row-fluid">
    		<section id="music">
                <div class="col-md-6 col-md-offset-3">
        			No content here yet.
                </div>
    		</section>
            <hr>
    		<p style="text-align: center">To access the source code, check out the project's <a href="http://github.com/jthurst3/computermusic">GitHub</a> site.</p>
    </div>