<% provide(:title, 'Human-Aided Computer Composition') %>

	<h1>Human-Aided Computer Composition</h1>
	<div class="row-fluid">
    	<div class="col-md-4 col-md-offset-4">
    		Interactive application coming soon.<br>
    		In the mean time, check out the project's <a href="http://github.com/jthurst3/computermusic">GitHub</a> site.
    	</div>
    </div>