<h1>Editing post</h1>

<%= render "form" %>

<%= button_to "delete", '/posts/'+@post.url, :method=>:delete, :class=>:destroy, :confirm => "Are you sure you want to delete this post?" %>

<br>

<%= link_to 'Back', @post %>