<h1>Blog</h1>

	<div class="row-fluid">
    	<div class="col-md-6 col-md-offset-3">
			<% @posts.each do |post| %>
				<h3><a href="/blog/<%= post.id %>"><%= post.title %></a></h3><br>
				<%= post.text %><hr>
  			<% end %>

  			<%= link_to 'New', blog_new_path, method: 'post' %>
    	</div>
    </div>