<footer class="row-fluid footer">
  <small>
    J. Hassler Thurston, University of Rochester Class of 2017
  </small>
  <nav>
    <ul>
      <li><%= link_to "Acknowledgements",   acknowledgements_path %></li>
      <li><%= link_to "Contact",   contact_path %></li>
    </ul>
  </nav>
</footer>